body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
table {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10em #888;
}
h1 {
    text-align: center;
    margin-top: 0;
}
label {
    font-weight: bold;
}
input[type=text], textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 2em;
    box-sizing: border-box;
    margin-top: 2em;
    margin-bottom: 2%;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 3em 2em;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #45a049;
}
@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}