/* Style the body */
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Style the navigation bar */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

nav a.active:hover {
    color: red;
}

/* Main and About us main section*/
main{
    padding: 2%;
}

#main{
    width: 70%;
    text-align: center;
    color: black;
    position: absolute;
    padding: 2%;
}

#main p strong{
    color: darkblue;
}

/* Image container */
div.image-container {
    margin: 1%;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}
div.image-container:hover {
    border: 1px solid #777;
}

div.image-container img{
    width: 100%;
    height: auto;
}

div.image-description {
    padding: 3%;
    text-align: center;
}

/* Style the footer */
footer {
    flex-shrink: 0;
    height: 4em; /* Height of the footer */
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 1%;
}

/* About us section */
/*main #about-us{*/
/*    float: left;*/
/*    width: 40%;*/
/*}*/

/*main #contact{*/
/*    width: 50%;*/
/*    float: right;*/
/*}*/


.card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(33.33% - 20px); /* adjust based on your needs */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.card-img {
    display: block;
    width: 80px; /* adjust based on your needs */
    height: 80px; /* adjust based on your needs */
    margin: 20px auto 0;
}

.card-title {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.card-description {
    margin: 0 20px 20px 20px;
    text-align: justify;
}
